body {background-color: powderblue;}
li {background-color: #53C830;
    width: 300px;
    border: 4px double red}
.testqa {color: red;}
#idtest {font-size: 30px;
        margin: 30px;
    padding: 50px;}